.card{
    position: relative;
    display: flex;
    max-width: 300px;
    min-height: 300px;
    aspect-ratio: 1/1;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    background-color:#e0d7f7;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.card-check{
    transform: rotateX(180deg);
}
.card::after{
    content: attr(data-back);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f1c6e8; 
    border-radius: 10px;
    transform: rotateX(180deg);
    backface-visibility: hidden;
}
