.header{
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ad80d1;
  color: white;
  position: fixed;
}
li{
  list-style-type: none;
}
.createSet{
  background-color: transparent;
  border:none;
}
h1 a{
  color: white;
}
li a{
  color: white;
}
.main-menu__link{
  font-size: 22px;
}