h2{
    color: black;
}
.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    border-radius: 50%;
    border: solid 1px black;
    width: 50px;
    height: 50px;
}