h2{
    color: #ad80d1;
}
body{
    font-weight: 400;
}
.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.slide-btn{
    border-radius: 50%;
    background-color:#ad80d1d3;
    width: 50px;
    height: 50px;
    color: white;
}
.counter{
    color: #1c1627;
}